manifest {
  name        = 'alternative_splicing_nf'
  author      = 'Kim Fehl'
  description = 'Backbone Nextflow pipeline for alternative splicing analyses'
  mainScript  = 'main.nf'
}

params {
  samples      = 'metadata/samples.tsv'
  samplesheet  = '/home/lab/kim/hd/rnaseq/reads_pe/raw/samplesheet/samplesheet.csv'
  goi          = 'metadata/goi.tsv'
  gtf          = '/home/lab/kim/hd/genome/SkHd3/SkHd3_nuclear_protein_coding_genes.gff3'
  fasta        = '/home/lab/kim/hd/genome/SkHd3/SkHd3_genome_nuclear_mito.fasta'
  strandedness = 'fr-unstranded'
  outdir       = 'results'
  raw_dir      = 'results/raw'
  fastp_dir    = 'results/fastp'
  star_index_base = 'results/star_index'
  threads      = 14
}

process {
  executor        = 'local'
  cpus            = params.threads
  withName:REGTOOLS_JUNCTIONS { errorStrategy = 'retry'; maxRetries = 1 }
  withName:STRINGTIE_ASSEMBLE { maxForks = 2; cpus = params.threads }
  withName:FASTP { cpus = params.threads }
  withName:STAR_ALIGN { cpus = params.threads }
  withName:STAR_INDEX { cpus = params.threads }
}

timeline {
  enabled = true
  file    = "${params.outdir}/logs/timeline.html"
}

trace {
  enabled = true
  file    = "${params.outdir}/logs/trace.txt"
}

profiles {
  local {
    process.executor = 'local'
  }
  conda {
    conda.enabled = true
    conda.autoMounts = true
  }
}
